In [3]:
# libraries
import pandas as pd
import numpy as np
import re
import requests
import json
from pprint import pprint
import os
import matplotlib.pyplot as plt

In [5]:
# read in data
train_df = pd.DataFrame(pd.read_csv('../resources/train.csv'))
test_df = pd.DataFrame(pd.read_csv('../resources/sample_submission.csv'))
train_df.head()

,Id,pub_title,dataset_title,dataset_label,cleaned_label
0,d0fa7568-7d8e-4db9-870f-f9c6f668c17b,The Impact of Dual Enrollment on College Degre...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
1,2f26f645-3dec-485d-b68d-f013c9e05e60,Educational Attainment of High School Dropouts...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
2,c5d5cd2c-59de-4f29-bbb1-6a88c7b52f29,Differences in Outcomes for Female and Male St...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
3,5c9a3bc9-41ba-4574-ad71-e25c1442c8af,Stepping Stone and Option Value in a Model of ...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study

In [6]:
# kaggle functions
def clean_text(txt):
    return re.sub('[^A-Za-z0-9]+', ' ', str(txt).lower()).strip()

In [4]:
# # check out json files
# with open('../resources/train/c12a3ad2-17bc-4b8b-8779-77ba2680ae96.json') as jsonfile:
#     data = json.load(jsonfile)[0]
# data

In [5]:
# # test clean_text function
# clean_text(data['text'])

In [6]:
# # check out keys
# data.keys()

In [8]:
# iterate through DF and add text and section_titles to new column

# train_df['section_title'] = ''
train_df['text'] = ''

for index, row in train_df.iterrows():
    filename = f"{row['Id']}.json"
    text = ''
    with open(f'../resources/train/{filename}') as jsonfile:
        data = json.load(jsonfile)
    for i in data:
        text += f"Section title: {i['section_title']} | Text: {i['text']} "
#   row['section_title'] = clean_text(data['section_title'])
    row['text'] = clean_text(text)
    if index % 1000 == 0:
        print(index)
        
train_df

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000

,Id,pub_title,dataset_title,dataset_label,cleaned_label,text
0,d0fa7568-7d8e-4db9-870f-f9c6f668c17b,The Impact of Dual Enrollment on College Degre...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,Section title: What is this study about? | Tex...
1,2f26f645-3dec-485d-b68d-f013c9e05e60,Educational Attainment of High School Dropouts...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,Section title: November 2004 | Text: Dropping ...
2,c5d5cd2c-59de-4f29-bbb1-6a88c7b52f29,Differences in Outcomes for Female and Male St...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,Section title: Differences in Outcomes for Fem...
3,5c9a3bc9-41ba-4574-ad71-e25c1442c8af,Stepping Stone and Option Value in a Model of ...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,Section title: Abstract | Text: Federal Reserv...
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,Section title: Abstract | Text: This article i...
...,...,...,...,...,...,...
19656,b3498176-8832-4033-aea6-b5ea85ea04c4,RSNA International Trends: A Global Perspectiv...,RSNA International COVID-19 Open Radiology Dat...,RSNA International COVID Open Radiology Database,rsna international covid open radiology database,Section title: Introduction | Text: Our lives ...
19657,f77eb51f-c3ac-420b-9586-cb187849c321,MCCS: a novel recognition pattern-based method...,CAS COVID-19 antiviral candidate compounds dat...,CAS COVID-19 antiviral candidate compounds dat...,cas covid 19 antiviral candidate compounds dat...,Section title: Introduction | Text: The outbre...
19658,ab59bcdd-7b7c-4107-93f5-0ccaf749236c,Quantitative Structure–Activity Relationship M...,CAS COVID-19 antiviral candidate compounds dat...,CAS COVID-19 antiviral candidate compounds dat...,cas covid 19 antiviral candidate compounds dat...,Section title: INTRODUCTION | Text: The ongoin...
19659,fd23e7e0-a5d2-4f98-992d-9209c85153bb,A ligand-based computational drug repurposing ...,CAS COVID-19 antiviral candidate compounds dat...,CAS COVID-19 antiviral candidate compounds dat...,cas covid 19 antiviral candidate compounds dat...,Section title: | Text: deployment of approxim...
19660,fd23e7e0-a5d2-4f98-992d-9209c85153bb,A ligand-based computational drug repurposing ...,CAS COVID-19 antiviral candidate compounds dat...,CAS COVID-19 antiviral candidate compounds data,cas covid 19 antiviral candidate compounds data,Section title: | Text: deployment of approxim...

In [9]:
# # save combined df
# train_df.to_csv('../resources/combined_data/train_with_text.csv')

In [10]:
import time
# iterate through DF and add text and section_titles to new column
test_df['text'] = ''
for index, row in test_df.iterrows():
    filename = f"{row['Id']}.json"
    text = ''
    with open(f'../resources/test/{filename}') as jsonfile:
        data = json.load(jsonfile)
    for i in data:
        text += f"Section title: {i['section_title']} | Text: {i['text']} "
    test_df.at[index,'text'] = clean_text(text)
    # wait to prevent data rate error
    time.sleep(.5)   
test_df

,Id,PredictionString,text
0,2100032a-7c33-4bff-97ef-690822c43466,NaN,Section title: Abstract | Text: Cognitive defi...
1,2f392438-e215-4169-bebf-21ac4ff253e1,NaN,Section title: Introduction | Text: This repor...
2,3f316b38-1a24-45a9-8d8c-4e05a42257c6,NaN,Section title: INTRODUCTION | Text: Cape Hatte...
3,8e6996b4-ca08-4c0b-bed2-aaf07a4c6a60,NaN,Section title: Introduction | Text: A signific...

In [11]:
# # save combined df
# test_df.to_csv('../resources/combined_data/test_with_text.csv')